:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 31%);
  --bgFormBut: hsl(0, 0%, 13%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

body {
  background-image: url("./background.jpg"); /*  by pikisuperstar on Freepik */
  background-size: 100%;
}

#login-button-container {
  width: 20%;
  float: right;
  margin-top: 5%;
  margin-right: 5%;
  text-align: center;
}

#login-container {
  display: none;
}

#login-container,
#register-container {
  width: 20%;
  margin-top: 20%;
  margin-left: 15%;
}

.buttons,
.inputLogin {
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.buttons {
  width: 60%;
  background: var(--white);
  color: var(--bgFormBut);
}

.inputLogin:focus {
  background: var(--bgFormElsFocus);
}

.inputLogin:focus {
  transform: scale(1.02);
}


.buttons:enabled:hover,
.buttons:hover {
  background: var(--bgFormElsFocus);
  cursor: pointer;
}

#signout-button {
  width: 10%;
  margin-left: 75%;
}

#center {
  text-align: center;
}

.inputCalculate {
  margin-left: 2%;
  margin-bottom: 5%;
  height: 30px;
  width: 250px;
}

.topLine {
  margin-top: 10%;
}

.hoursWidth {
  width: 300px;
}

#calculate {
  width: 15%;
  margin-left: 26%;
}

#inputs {
  width: 80%;
}

#main-body {
  display: none;
}

#quote-name {
  margin-left: 30%;
  margin-top: 5%;
}