body {
  background-image: url("./background.jpg"); /*  by pikisuperstar on Freepik */
  background-size: 100%;
}

#login-container {
  margin-top: 30%;
  margin-left: 15%;
}

#input-user {
  padding: 5px;
  margin-bottom: 15px;
}

#input-pass {
  padding: 5px;
  margin-bottom: 15px;
}