body {
  background-image: url("./background.jpg"); /*  by pikisuperstar on Freepik */
  background-size: 100%;
}

#login-container {
  margin-top: 30%;
  margin-left: 15%;
}

#input-user {
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

#input-pass {
  padding: 5px;
  margin-bottom: 15px;
}