:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 31%);
  --bgFormBut: hsl(0, 0%, 13%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

body {
  background-image: url("./background.jpg"); /*  by pikisuperstar on Freepik */
  background-size: 100%;
}

#login-container {
  width: 20%;
  margin-top: 20%;
  margin-left: 15%;
}

#login-button,
#input-pass,
#input-user {
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

#login-button {
  width: 60%;
  background: var(--bgFormEls);
}
